<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>

</head>
<body>
<h1>Users</h1>
<br/>
<div>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Surname</th>
            <th>Email</th>
        </tr>
        <tr th:each="user : ${user}">
            <td th:utext="${user.getId()}">...</td>
            <td th:utext="${user.getUsername()}">...</td>
            <td th:utext="${user.getSurname()}">...</td>
            <td th:utext="${user.getEmail()}">...</td>
        </tr>
    </table>
</div>
<br>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout"/>
</form>

</body>
</html>